@charset "UTF-8";

/* Créé par Amandine */

.checkbox {
	color : black;
	font-size: min(3vw, 15px);
	padding-left: 2vw;
	vertical-align: center;
}

.squarebox {
	
	box-shadow: 1px 1px 1px #bdc3c7;
}

input[type="checkbox"] {
	margin-right: 2vw;
	border-radius: 2px;
}

select {
	text-align: center;
}

.categorie {
	display: block;
	text-align: center;
}

.columns {
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	width: 100%;
	
}

.column {
	flex-grow: 1;
	padding-left: 4em;
	
}

th, td {
	padding: 1em;
	font-size: min(3em, 10px);
}


table {
	border-style: solid;
	border-width: 1px;
	border-color: #bdc3c7;
	box-shadow: 1px 1px 1px #bdc3c7;
	border-radius: 3px;
	margin: 1em 2em;
	
}