@charset "UTF-8";

/* Créé par Amandine
*
*
*/

/* 	ADAPTATION CONTENU POUR LES MOBILES */


@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

body {
	width: auto;
	margin: 0;
	padding: 0;
}

main {
	width: auto;
	padding: 2vw;
}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

img,
table,
td,
textarea,
input,
iframe,
header {
	max-width: 100%;
}

	/* conserver le ratio des images */

img,
header  {
	height: auto;
	text-align: center;
}
	
	/* gestion des mots longs */

textarea,
table,
td,
th {
	-webkit-hyphens: auto; /* césure propre */
	-moz-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word; /* passage à la ligne forcé */
}
	
	/* Un message personnalisé */

body:before {
	content: "Version mobile du site";
	display: block;
	text-align: center;
	font-style: italic;
	color: #777;
	font-size: min(2vw, 15px);
}

h1 {
	font-size: min(5vw, 37px);
	color: #7f8c8d;
	text-align: center;
}

h2 {
	font-size: min(4vw, 27px);
	color: #7f8c8d;
	text-align: center;
}

h3 {
	font-size: min(4vw, 30px);
	color: #7f8c8d;
	margin-top: 2em;
	margin-bottom: 2.2em;
}

checkbox, label {
	font-size: min(3.5vw, 13px);
	text-align: center;
}


.text-small-pad {
	margin: 0.5px 1 px;
	padding: 0.5px 1 px;

}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

.italic {
	font-style: italic;
	font-size: min(3vw, 14px);
}

.main-button {
	height: min(8em, 40px);
	font-size: min(6vw, 15px);
	font-weight: bold;
	background-color: #f39c12;
	margin-top: 2vw;
}


.big-button {
	margin-top: 2em;
	height: min(8em, 40px);
	font-size: min(4vw, 25px);
	
}

.control {
	justify-content: center;
	text-align: center;
}

header {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

#sousmenu1 {
	background-color: #ecf0f1;
	color: black;
}


.navbar-toggler{
	padding: 0;
	font-size: 1.2rem;
}

.navbar {
	min-height:0;

}

.userco {
	font-size: min(0.6em, 12px);
	color: #7f8c8d;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	width: 50%;
	text-align: right;
}

.userco a{
	padding: 0;
	
}

.userco a {
	color: #34495e;
}

.userco p {
	color: #34495e;
	margin: 0;
	text-align: right;
}

.rubrique {
	background-color: #7f8fa6;
	box-shadow: 1px 1px 3px #bdc3c7;
	margin: 2vw 0;
}

.rubrique h2 {
 	color: black;
	font-weight: bold;
	font-size: min(1.2em, 22px);
	padding: 1vw;
 }
 
 h4 {
 	color: #4b6584;
	font-weight: bold;
	font-size: min(1.2em, 22px);
	padding: 1vw;
 }
 