<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TrocEnchere.org</display-name>
  
  <welcome-file-list>
    <welcome-file>Accueil</welcome-file>
    <welcome-file>ConnecterCompte</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
     <!-- accueil -->
  <servlet>  <!-- servlet -->
  	<servlet-name>Accueil</servlet-name>
  	<servlet-class>fr.eni.projet01.trocenchere.ihm.Accueil</servlet-class>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>Accueil</servlet-name>
  	<url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  
    <servlet>  <!-- JSP -->
	  <servlet-name>accueil</servlet-name>
	  <jsp-file>/WEB-INF/accueil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
	  <servlet-name>accueil</servlet-name>
	  <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  
  
   <!-- création compte -->
  <servlet>  <!-- servlet -->
  	<servlet-name>CreerCompte</servlet-name>
  	<servlet-class>fr.eni.projet01.trocenchere.ihm.CreerCompte</servlet-class>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreerCompte</servlet-name>
  	<url-pattern>/nouveau-compte</url-pattern>
  </servlet-mapping>
  
    <servlet>  <!-- JSP -->
	  <servlet-name>creationCompte</servlet-name>
	  <jsp-file>/WEB-INF/creationCompte.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
	  <servlet-name>creationCompte</servlet-name>
	  <url-pattern>/creationCompte</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- connexion compte -->
   <servlet>  <!-- servlet -->
  	<servlet-name>ConnecterCompte</servlet-name>
  	<servlet-class>fr.eni.projet01.trocenchere.ihm.ConnecterCompte</servlet-class>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>ConnecterCompte</servlet-name>
  	<url-pattern>/ConnecterCompte</url-pattern>
  </servlet-mapping>
  
    <servlet>  <!-- JSP -->
	  <servlet-name>connexion</servlet-name>
	  <jsp-file>/WEB-INF/connexion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
	  <servlet-name>connexion</servlet-name>
	  <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  
  
  
     <!-- affichage compte -->
  <servlet>  <!-- servlet -->
  	<servlet-name>AfficherCompte</servlet-name>
  	<servlet-class>fr.eni.projet01.trocenchere.ihm.AfficherCompte</servlet-class>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>AfficherCompte</servlet-name>
  	<url-pattern>/afficher-compte</url-pattern>
  </servlet-mapping>
  
    <servlet>  <!-- JSP -->
	  <servlet-name>afficherCompte</servlet-name>
	  <jsp-file>/WEB-INF/afficherCompte.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
	  <servlet-name>afficherCompte</servlet-name>
	  <url-pattern>/afficherCompte</url-pattern>
  </servlet-mapping>
  
  
  
  
  
</web-app>